<!DOCTYPE html>
<html>
<head>
  <title><%= params[:action].capitalize %> :: Jessica & Rylan's Katas</title>
  <%= stylesheet_link_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

  <% if params[:action] != "index" %>
    <a href="<%= root_path %>">Index</a>
    <h1>Kata - <%= params[:action].capitalize %></h1>
  <% else %>
    <h1>Jessica and Rylan's Kata List</h1>
  <% end %>

  <%= yield %>

  <%= javascript_include_tag "application" %>
</body>
</html>
